@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --clr-primary-800: hsl(210deg 34% 24%);
    --clr-accent-400: hsl(186deg 37% 59%);
    --clr-neutral-100: hsl(0deg 0% 93%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Poppins, sans-serif;
    color: var(--clr-primary-800);
}

/*  ----------------- REUSABLE ------------- */
.outer-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*padding: 0 10px;*/
}

.inner-container {
    flex: 0 1 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    background-color: var(--clr-accent-400);
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 0.5em;
    border: none;
    display: flex;
    justify-content: space-between;
    width: 150px;
    flex-shrink: 0;
}

/* ---------  HEADER ----------*/

.header__navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 70px;
    padding: 0 250px;
    align-items: center;
    background-color: var(--clr-neutral-100);
}

.header__navbar ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 350px;
}

.header__logo {
    width: max-content;
    padding-right: 30px;
    font-family: 'austeinscript', sans-serif;
    font-size: 2em;
    color: var(--clr-primary-800);
}

.header__navbar a {
   color: var(--clr-primary-800);
    text-decoration: none;
}

.header__navbar a:hover {
    font-weight: bold;
}

.header__hero {
    background-image: url("/assets/images/hero-image.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__content {
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-left: 250px;
    font-size: 2em
}

.header__content p {
    font-size: 1.6em;
    margin-bottom: 20px;
}

/* ---------  MAIN ----------*/

.main__card-box {

}

.main__random-recipe-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap:25px;
    width: 1100px;
    height: 250px;
    margin: 30px 0;
}

.recipe-card1 { grid-area: 1 / 1 / 2 / 2; }
.recipe-card2{ grid-area: 1 / 2 / 2 / 3; }
.recipe-card3 { grid-area: 1 / 3 / 2 / 4; }

.main__search-form-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    background-color: var(--clr-primary-800);
}

.main__search-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    /*flex-shrink: 1;*/
    /*width: 65%;*/
    height: 50px;
    /*flex-wrap: wrap;*/
}

input{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    width: 200px;
    height: 35px;
    border-radius: 5px;
    font-size: 1em;
    padding-left: 10px;
}

.main__search-form select {
    background-color: white;
    font-size: medium;
    font-family: Poppins, sans-serif;
    width: 200px;
    height: 35px;
    border-radius: 5px;
    /*margin-left: 10px;*/
    /*flex-shrink: 1;*/
}

.btn-form {
    height: 35px;
    font-size: 1em;
    /*margin-left: 10px;*/
}

.main__result-recipe-cards {
    /*border: 1px solid red;*/
    width: 1100px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 25px;
    margin: 30px 0;
}

.card {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.recipe-card4 {grid-area: 1 / 1 / 2 / 2;}
.recipe-card5 {grid-area: 1 / 2 / 2 / 3;}
.recipe-card6 {grid-area: 1 / 3 / 2 / 4;}
.recipe-card7 {grid-area: 2 / 1 / 3 / 2;}
.recipe-card8 {grid-area: 2 / 2 / 3 / 3;}
.recipe-card9 {grid-area: 2 / 3 / 3 / 4;}





/* ---------  FOOTER  ----------*/
.footer__container {
    background-color: var(--clr-primary-800);
    padding: 30px 250px;
    gap: 30px;
}

.footer__list {
    align-items: baseline;
}

.footer__list li {
    font-weight: lighter;
    line-height: 30px;
}

.footer__container ul {
    list-style: none;
    color: white;
    display: flex;
    flex-direction: column;
}

h4 {
    color: var(--clr-accent-400);
    margin-bottom: 30px;
}

.footer__icons {
    background-color: var(--clr-accent-400);
    border-radius: 80%;
    margin-right: 10px ;
    padding: 5px;
}

.footer__social {
    display: flex;
    flex-direction: row;
    padding-left: 0;
}
