@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --clr-primary-800: hsl(210deg 34% 24%);
    --clr-accent-400: hsl(186deg 37% 59%);
    --clr-neutral-100: hsl(0deg 0% 93%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Poppins, sans-serif;
    color: var(--clr-primary-800);
}

/* ------------------- STYLING FONDS ---------- */
h5 {
    font-size: 16px;
}


/*  ----------------- REUSABLE ------------- */
.outer-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.inner-container {
    flex: 0 1 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    background-color: var(--clr-accent-400);
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 0.5em;
    border: none;
    display: flex;
    justify-content: space-between;
    width: 150px;
    flex-shrink: 0;
}

/* ---------  HEADER ----------*/
.header__navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 70px;
    padding: 0 250px;
    align-items: center;
    background-color: var(--clr-neutral-100);
}

.header__navbar ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 350px;
}

.header__logo {
    width: max-content;
    padding-right: 30px;
    font-family: 'austeinscript', sans-serif;
    font-size: 2em;
    color: var(--clr-primary-800);
}

.header__navbar a {
    color: var(--clr-primary-800);
    text-decoration: none;
}

.header__navbar a:hover {
    font-weight: bold;
}

.header__hero {
    background-image: url("/assets/images/hero-image.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__content {
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-left: 250px;
    font-size: 2em
}

.header__content p {
    font-size: 1.6em;
    margin-bottom: 20px;
}

.btn-header a {
    color: var(--clr-primary-800);
    text-decoration: none;
}

.white-space {
    height: 280px;
    position: relative;
}

#random-recipe-container {
    width: 1250px;
    /*height: 250px;*/
    margin: 30px 0;
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: space-between;
    list-style: none;
    position: absolute;
    top: -60px;
}

#random-recipe-container .card:nth-of-type(2) {
    width: 500px;
    height: 300px;
    position: relative;
    top: -15px;
}

#random-recipe-container .card:nth-of-type(2) .margin-text-card {
    margin-left: 140px;
}

.main__search-form-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    background-color: var(--clr-primary-800);
}

.main__search-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    height: 50px;

}

input {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    width: 200px;
    height: 35px;
    font-size: 1em;
    padding-left: 10px;
}

.container-ingredients-input {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    width: 250px;
    height: 35px;
    border-radius: 5px;
}

.main__search-form select {
    background-color: white;
    font-size: medium;
    font-family: Poppins, sans-serif;
    width: 200px;
    height: 35px;
    border-radius: 5px;
}

.btn-form {
    height: 35px;
    font-size: 1em;
}

.btn-form:hover {
    cursor: pointer;
}

.main__result-recipe-cards {
    width: 1250px;
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

.card:hover {
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.card {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    box-shadow: 4.1px 8.2px 8.2px hsl(0deg 0% 0% / 0.37);
    background-color: var(--clr-neutral-100);
    width: 400px;
    height: 270px;
    border-radius: 5px;
    flex-shrink: 1;
    flex-wrap: wrap;
    padding-bottom: 15px;
}

.card a {
    color: inherit;
    text-decoration: none;
    height: 90%;
}

.recipe-card__img {
    width: 100%;
    height: 75%;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.time-icon {
    display: inline;
    background-image: url("../assets/icons/time.png");
}

.card-content-position {
    display: flex;
    justify-content: space-between;
}

.margin-text-card {
    margin-left: 40px;
}

.card-padding {
    padding: 10px 5px 10px 10px;
}

.recipe-card__label {
    font-weight: bolder;
    margin-bottom: 20px
}

/* ---------  FOOTER  ----------*/
.footer__container {
    background-color: var(--clr-primary-800);
    padding: 30px 250px;
    gap: 30px;
}

.footer__list {
    align-items: baseline;
}

.footer__list li {
    font-weight: lighter;
    line-height: 30px;
}

.footer__container ul {
    list-style: none;
    color: white;
    display: flex;
    flex-direction: column;
}

h4 {
    color: var(--clr-accent-400);
    margin-bottom: 30px;
}

.footer__icons {
    background-color: var(--clr-accent-400);
    border-radius: 80%;
    margin-right: 10px;
    padding: 5px;
}

.footer__social {
    display: flex;
    flex-direction: row;
    padding-left: 0;
}

/*----------recipe page ---------*/

.outer-container__recipe-article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 50px 300px 50px 300px;
    color: var(--clr-primary-800);
}

.inner-container__recipe-header {
    display: flex;
    width: 100%;
}

.recipe__name {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: medium;
    gap: 10px;
}

h3 {
    font-size: larger;
    font-weight: bold;
    padding-top: 30px;
}

.ingredients-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: fit-content;
    position: relative;
    min-height: 250px;
}

.inner-container__recipe-img {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    width: 60%;
    height: 50px;
    position: absolute;
    padding-top: 70px;
    border-radius: 5px;
}

.recipe__img {
    border-radius: 5px;
}

.outer-container__nutrients-info-and-health-labels {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 90%;
}

.inner-container-container__nutrients-info {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    width: 400px;
}

.inner-container__nutrients-table {
    width: 300px;
}

.outer-container__health-labels {
    width: 50%;
}

.recipe__healthLabels {
    background-color: var(--clr-accent-400);
    font-family: Poppins, sans-serif;
    font-weight: bold;
    font-size: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border-style: none;
    width: fit-content;
    height: 20px;
    padding: 5px 5px 5px 5px;
    margin-bottom: 10px;
}

/* ------ calculator -------*/

.calculator__outer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    align-self: center;
    margin: 60px;
    flex-wrap: wrap;
    padding: 0 200px;
}

.calculator__main-title,
.calculator__search,
.calculator__product-info,
.calculator__servings,
.calculator__fetchedData {
    width: 90%;
    margin-bottom: 20px;
}

#searchIngredient {
    display: flex;
    justify-content: space-between;
    width: 35%;
}

#calculator__servings-form {
    display: flex;
    width: 65%;
    justify-content: flex-start;
}

.calculator__form-box {
    display: flex;
    width: 60%;
    justify-content: flex-start;
}

.calculator-product-info-type th {
    padding-right: 50px;
    padding-bottom: 10px;
}

.calculator-fetchedData__type th {
    text-align: center;
    padding-right: 50px;
}

.calculator-fetchedData__data td {
    padding-right: 50px;
    padding-bottom: 10px;
}

.calculator-fetchedData__total-of-data td {
    border-top: 1px solid #283E53;
}

#query__calculator {
    width: 200px;
    height: 25px;
}

#calculator-servings-form__input {
    width: 200px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid var(--clr-primary-800);
}

.calculator__search-button {
    margin-left: 80px;
}

.calculator__main-title h3 {
    margin-bottom: 25px;
}

.calculator__fetchedData {
    margin-top: 25px
}

.btn-calculator {
    border-radius: 5px;
    border: 1px solid var(--clr-primary-800);
    padding: 4px 10px;
    background-color: var(--clr-accent-400);
    font-size: 1em;
}

.btn-calculator:hover {
    cursor: pointer;
}

.calculator__icon {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    width: 250px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid var(--clr-primary-800);
}

#calculator__servings-form input {
    margin: 0 20px;
}